@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="pt-3">
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#CreateModal">Create New</button>
</p>
<table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th class="text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <img src="~/images/@item.ImageName" + item.I" width="45" height="50" asp-append-version="true" />
                </td>
                <td class="text-center" style="width:150px">
                    <div class="btn-group">
                        <div class="dropdown">
                            <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" onclick='Update(@item.EmployeeId)' data-bs-toggle="modal" data-bs-target="#EditModal">Edit</a></li>
                                <li><a class="dropdown-item" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.EmployeeId" onclick="return confirm('Are you sure to delete?')">Delete</a></li><li><a class="dropdown-item"  onclick='Details(@item.EmployeeId)' data-bs-toggle="modal" data-bs-target="#DetailsModal">Details</a></li>
                                <li><a class="dropdown-item"  onclick='Details(@item.EmployeeId)' data-bs-toggle="modal" data-bs-target="#DetailsModal">Details</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header px-md-5 bg-info">
                <h3 class="modal-title text-white" id="detailsModalLabel">Create Employee</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                @await Html.PartialAsync("_Create", new EmployeeViewModel())
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header px-md-5 bg-info">
                <h3 class="modal-title" id="detailsModalLabel">Update Employee</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                <div id="EditDiv">
                    @if (ViewBag.Details == "Show")
                    {
                        <partial name="~/Views/Employee/_Edit.cshtml" />
                        ViewBag.Details = "";
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header px-md-5 bg-info">
                <h3 class="modal-title" id="detailsModalLabel">Employee Details</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                <div id="DetailsDiv">
                    @if (ViewBag.Details == "Show")
                    {
                        <partial name="~/Views/Employee/_Details.cshtml" />
                        ViewBag.Details = "";
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Update(id) {
        $.ajax({
            url: "/Employee/Edit?id=" + id,
            type: "GET",
            data: "",
            contentType: 'application/json; charset = utf-8',
            success: function (data) {
                $('#EditDiv').show();
                $('#EditDiv').html(data);
            },
            error: function () {
                alert("Error occured")
            }
        })
    }
    function Details(id) {
        $.ajax({
            url: "/Employee/Details?id=" + id,
            type: "GET",
            data: "",
            contentType: 'application/json; charset = utf-8',
            success: function (data) {
                $('#DetailsDiv').show();
                $('#DetailsDiv').html(data);
            },
            error: function () {
                alert("Error occured")
            }
        })
    }
</script>